.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.menu {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
  -webkit-transform: translate(-30%, -30%);
  -moz-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  -o-transform: translate(-30%, -30%);
}

.menu > h5 {
  font-weight: normal;
}

.menu > ul {
  padding: 1rem 0 ;
}

.menu > ul > li {
  padding: 1rem ;
  background-color: #fff;
  margin-bottom: 1rem;
  width: 15rem;
  cursor: pointer;
}

.menu > ul > li:hover {
  background-color: #E97C63;
  color: #fff;
}